{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticação</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>
    <div class="auth-container">
        <div class="auth-box">
            <div class="auth-left">
                <h2>Cadastro</h2>
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Usuário" required>
                    <input type="email" name="email" placeholder="E-mail" required>
                    <input type="password" name="password" placeholder="Senha" required>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>

            <div class="auth-right">
                <h2>Login</h2>
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Usuário" required>
                    <input type="password" name="password" placeholder="Senha" required>
                    <button type="submit">Entrar</button>
                </form>
                <div class="social-login">
                    <p>Ou entre com:</p>
                    <a href="">
                        <img src="{% static 'assets/discord_logo-freelogovectors.net_.png' %}" alt="Discord Logo">
                    </a>
                    <a href="">
                        <img src="{% static 'assets/Google__G__logo.svg.png' %}" alt="Google Logo">
                    </a>
                    <a href="">
                        <img src="{% static 'assets/riot-games-flat-design-2.png' %}" alt="Riot Games Logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>